h1{
font-family:  'Shadows Into Light', cursive;
font-size: 30px;
text-align: center;
}

h2{
font-family:  'Shadows Into Light', cursive;
font-size: 20px;
text-align: center;	
}

div{
	border: 1px solid black;
}

.container{
	width: 1080px;
	margin: 0 auto;
}

.card{
	float: left;
	margin: 10px;
	height: 200px;
	width: 150px;
	background: #f089cf;
}

.card p {
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-size: 40px;
    padding-top: 30px;
}
/*span{
	text-align: center;
}*/

/*.front{
	visibility: hidden;
}*/