body{
	background-image: url(http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0167/3439/md_multi_color_dots_shop_preview.png);
}

h1{
font-family:  'Shadows Into Light', cursive;
font-size: 40px;
text-align: center;
font-weight: bolder;

}

h2{
font-family:  'Shadows Into Light', cursive;
font-size: 35px;
text-align: center;	
}

h3{
font-family:  'Shadows Into Light', cursive;
font-size: 100px;
text-align: center;	
text-shadow: 2px 2px;

}

div{
	/*border: 1px solid black;*/
}

#boxbuttons{
	text-align: center;
	margin: 20px;
	display: block;


}


#boxbuttons .button {
	font-family:  'Shadows Into Light', cursive;
	font-size: 15px;
	text-transform: uppercase;
	background: magenta;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bolder;
	height: 20px;
}

#boxbuttons .button:hover {
	background: #999;
}

.container{
	width: 1080px;
	margin: 0 auto;
}

.card{
	float: left;
	margin: 10px;
	height: 200px;
	width: 154px;
	background-image: url(http://www.cartoon-clipart.co/amp/images/hello-kitty4.png);
	border: 3px solid black;
	box-shadow: 5px 5px black;


}

.card p {
    text-align: center;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    padding-top: 30px;
}

img{
	height: 200px;
	width: 154px;


}
/*span{
	text-align: center;
}*/

/*.front{
	visibility: hidden;
}*/